.ycm_extra_conf*
*.swp
*.ini
.idea/*
bin/*
build/*
build-cpp/*
externAssets/*.zip
*/**/*.zip
*/**/*.tar.gz
externAssets/grt
externAssets/eigen
data/*
externAssets/sources/grt_source/build/tmp
docs/out/*
node_modules
.exrc
