[Unit]
Description=Bluetooth OBEX service

[Service]
Type=dbus
BusName=org.bluez.obex
ExecStart=/home/h3lgi/code/gestus_SDK/lib/externAssets/bluez/lib/bluetooth/obexd

[Install]
Alias=dbus-org.bluez.obex.service
